wsdl/ChargePointOperatorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0" name="ChargePointOperatorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="ChargeParameterDiscoveryRequest" type="tns:chargeParameterDiscoveryRequest"/>

      <xs:element name="ChargeParameterDiscoveryResponse" type="tns:chargeParameterDiscoveryResponse"/>

      <xs:element name="ChargePointOperatorServiceFault" type="tns:ChargePointOperatorServiceFault"/>

      <xs:element name="DeleteEvsesRequest" type="tns:deleteEvsesRequest"/>

      <xs:element name="DeleteEvsesResponse" type="tns:deleteEvsesResponse"/>

      <xs:element name="EvseDataRecordType" type="tns:evseDataRecord"/>

      <xs:element name="EvseIDDataRecordType" type="tns:evseIDDataRecord"/>

      <xs:element name="NotifyPauseSessionRequest" type="tns:notifyPauseSessionRequest"/>

      <xs:element name="NotifyPauseSessionResponse" type="tns:notifyPauseSessionResponse"/>

      <xs:element name="NotifyResumeSessionRequest" type="tns:notifyResumeSessionRequest"/>

      <xs:element name="NotifyResumeSessionResponse" type="tns:notifyResumeSessionResponse"/>

      <xs:element name="NotifyStopSessionRequest" type="tns:notifyStopSessionRequest"/>

      <xs:element name="NotifyStopSessionResponse" type="tns:notifyStopSessionResponse"/>

      <xs:element name="PushChargeRecordRequest" type="tns:pushChargeRecordRequest"/>

      <xs:element name="PushChargeRecordResponse" type="tns:pushChargeRecordResponse"/>

      <xs:element name="PushChargingProfileRequest" type="tns:pushChargingProfileRequest"/>

      <xs:element name="PushChargingProfileResponse" type="tns:pushChargingProfileResponse"/>

      <xs:element name="RecordErrorResultType" type="tns:recordErrorResult"/>

      <xs:element name="RegisterEvsesRequest" type="tns:registerEvsesRequest"/>

      <xs:element name="RegisterEvsesResponse" type="tns:registerEvsesResponse"/>

      <xs:element name="UpdateEvsesRequest" type="tns:updateEvsesRequest"/>

      <xs:element name="UpdateEvsesResponse" type="tns:updateEvsesResponse"/>

      <xs:complexType name="updateEvsesRequest">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="Evses">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Evse" type="tns:evseDataRecord" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="evseDataRecord">
        <xs:complexContent>
          <xs:extension base="tns:DataRecordType">
            <xs:sequence>
              <xs:element name="ChargePointOperatorId" type="xs:string"/>
              <xs:element name="EvseId" type="xs:string"/>
              <xs:element name="EvseMaxCurrentA" type="xs:int" minOccurs="0"/>
              <xs:element name="EvseMaxChargingPowerW" type="xs:int"/>
              <xs:element name="Phases" type="tns:PhasesType" minOccurs="0"/>
              <xs:element name="LeadPhase" type="tns:LeadPhaseType" minOccurs="0"/>
              <xs:element name="NominalVoltageV" type="xs:int" minOccurs="0"/>
              <xs:element name="MeteringPointID" type="xs:string"/>
              <xs:element name="DistributionSystemOperatorId" type="xs:string"/>
              <xs:element name="Timezone" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="DataRecordType">
        <xs:sequence>
          <xs:element name="RecordID" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="updateEvsesResponse">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="ErrorResults" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ErrorResult" type="tns:recordErrorResult" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="recordErrorResult">
        <xs:sequence>
          <xs:element name="RecordId" type="xs:long"/>
          <xs:element name="ErrorCode" type="tns:ErrorCodeType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ErrorCodeType">
        <xs:sequence>
          <xs:element name="Code" type="xs:int"/>
          <xs:element name="Message" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ChargePointOperatorServiceFault">
        <xs:sequence>
          <xs:element name="code" type="xs:string" minOccurs="0"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="messageDetail" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="notifyResumeSessionRequest">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="SessionID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="notifyResumeSessionResponse">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="deleteEvsesRequest">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="EvseIDs">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="EvseID" type="tns:evseIDDataRecord" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="evseIDDataRecord">
        <xs:complexContent>
          <xs:extension base="tns:DataRecordType">
            <xs:sequence>
              <xs:element name="EvseId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="deleteEvsesResponse">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="ErrorResults" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ErrorResult" type="tns:recordErrorResult" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="registerEvsesRequest">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="Evses">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Evse" type="tns:evseDataRecord" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="registerEvsesResponse">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="ErrorResults" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ErrorResult" type="tns:recordErrorResult" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pushChargingProfileRequest">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="SessionID" type="xs:string"/>
          <xs:element name="SAScheduleTupleID" type="xs:string"/>
          <xs:element name="ChargingProfile" type="tns:ChargingProfileType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ChargingProfileType">
        <xs:sequence>
          <xs:element name="ChargingProfileID" type="xs:string"/>
          <xs:element name="TimeBase" type="xs:dateTime"/>
          <xs:element name="ChargingProfileEntries">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ChargingProfileEntry" type="tns:ChargingProfileEntryType" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ChargingProfileEntryType">
        <xs:sequence>
          <xs:element name="StartPeriodSec" type="xs:int"/>
          <xs:element name="EstimatePowerW" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pushChargingProfileResponse">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="notifyPauseSessionRequest">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="SessionID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="notifyPauseSessionResponse">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeParameterDiscoveryRequest">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="SessionID" type="xs:string"/>
          <xs:element name="evseId" type="xs:string"/>
          <xs:element name="EVChargeParameter" type="tns:EVChargeParameterType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="EVChargeParameterType">
        <xs:sequence>
          <xs:element name="StartOfCharging" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="DepartureTimeSec" type="xs:long" minOccurs="0"/>
          <xs:element name="RequestedEnergyTransferModes" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="RequestedEnergyTransferMode" type="tns:RequestedEnergyTransferMode" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="EnergyAmountWh" type="xs:int" minOccurs="0"/>
          <xs:element name="NumberOfPhases" type="tns:PhasesType" minOccurs="0"/>
          <xs:element name="MaxVoltageV" type="xs:decimal" minOccurs="0"/>
          <xs:element name="MaxCurrentA" type="xs:decimal" minOccurs="0"/>
          <xs:element name="MinCurrentA" type="xs:decimal" minOccurs="0"/>
          <xs:element name="MaxEntriesSAScheduleTuple" type="xs:int" minOccurs="0"/>
          <xs:element name="evType" type="tns:EVType" minOccurs="0"/>
          <xs:element name="eMAID" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="chargeParameterDiscoveryResponse">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="SessionID" type="xs:string" minOccurs="0"/>
          <xs:element name="saScheduleTuple" type="tns:SAScheduleTuple" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SAScheduleTuple">
        <xs:sequence>
          <xs:element name="SAScheduleTupleID" type="xs:string"/>
          <xs:element name="pMaxSchedule" type="tns:PMaxScheduleType"/>
          <xs:element name="salesTariff" type="tns:SalesTariff" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PMaxScheduleType">
        <xs:sequence>
          <xs:element name="StartOfSchedule" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="DurationSec" type="xs:int" minOccurs="0"/>
          <xs:element name="PMaxScheduleEntries">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="PMaxScheduleEntry" type="tns:PMaxScheduleEntryType" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PMaxScheduleEntryType">
        <xs:sequence>
          <xs:element name="StartPeriodSec" type="xs:int"/>
          <xs:element name="IMaxA" type="xs:decimal" minOccurs="0"/>
          <xs:element name="PMaxW" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SalesTariff">
        <xs:sequence>
          <xs:element name="StartOfTariff" type="xs:dateTime"/>
          <xs:element name="DurationSec" type="xs:int" minOccurs="0"/>
          <xs:element name="SalesTariffEntries">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="SalesTariffEntry" type="tns:SalesTariffEntryType" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SalesTariffEntryType">
        <xs:sequence>
          <xs:element name="StartPeriodSec" type="xs:int"/>
          <xs:element name="EPriceLevel" type="xs:decimal" minOccurs="0"/>
          <xs:element name="consumptionCost" type="tns:CostType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CostType">
        <xs:sequence>
          <xs:element name="AmountPerKWh" type="xs:int"/>
          <xs:element name="costKind" type="tns:CostKindType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="notifyStopSessionRequest">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="SessionID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="notifyStopSessionResponse">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pushChargeRecordRequest">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="SessionID" type="xs:string"/>
          <xs:element name="ChargingBegin" type="xs:dateTime"/>
          <xs:element name="ChargingEnd" type="xs:dateTime"/>
          <xs:element name="ChargeTimeSec" type="xs:long" minOccurs="0"/>
          <xs:element name="SessionStart" type="xs:dateTime"/>
          <xs:element name="SessionEnd" type="xs:dateTime"/>
          <xs:element name="ChargedEnergyAmountWh" type="xs:decimal" minOccurs="0"/>
          <xs:element name="ChargeEnergyAmountRecords" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ChargeEnergyAmountRecord" type="tns:ChargeEnergyAmountRecordType" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ChargeEnergyAmountRecordType">
        <xs:sequence>
          <xs:element name="Start15MinutePeriod" type="xs:dateTime"/>
          <xs:element name="ChargedEnergyAmountWh" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pushChargeRecordResponse">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="PhasesType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ONE_PHASE"/>
          <xs:enumeration value="TWO_PHASE"/>
          <xs:enumeration value="THREE_PHASE"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="LeadPhaseType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ONE"/>
          <xs:enumeration value="TWO"/>
          <xs:enumeration value="THREE"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="RequestedEnergyTransferMode">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AC"/>
          <xs:enumeration value="DCCHAdeMO"/>
          <xs:enumeration value="DCISO15118"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="EVType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Mode3"/>
          <xs:enumeration value="15118"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="CostKindType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="RelativePricePercentagePerkWh"/>
          <xs:enumeration value="RenewableGenerationPercentage"/>
          <xs:enumeration value="CarbonDioxideEmissionPerWh"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="PushChargingProfile">
    <part name="PushChargingProfileRequest" element="tns:PushChargingProfileRequest"/>
  </message>
  <message name="PushChargingProfileResponse">
    <part name="PushChargingProfileResponse" element="tns:PushChargingProfileResponse"/>
  </message>
  <message name="ChargePointOperatorServiceFault">
    <part name="fault" element="tns:ChargePointOperatorServiceFault"/>
  </message>
  <message name="ChargeParameterDiscovery">
    <part name="ChargeParameterDiscoveryRequest" element="tns:ChargeParameterDiscoveryRequest"/>
  </message>
  <message name="ChargeParameterDiscoveryResponse">
    <part name="ChargeParameterDiscoveryResponse" element="tns:ChargeParameterDiscoveryResponse"/>
  </message>
  <message name="RegisterEvses">
    <part name="RegisterEvsesRequest" element="tns:RegisterEvsesRequest"/>
  </message>
  <message name="RegisterEvsesResponse">
    <part name="RegisterEvsesResponse" element="tns:RegisterEvsesResponse"/>
  </message>
  <message name="UpdateEvses">
    <part name="UpdateEvsesRequest" element="tns:UpdateEvsesRequest"/>
  </message>
  <message name="UpdateEvsesResponse">
    <part name="UpdateEvsesResponse" element="tns:UpdateEvsesResponse"/>
  </message>
  <message name="DeleteEvses">
    <part name="DeleteEvsesRequest" element="tns:DeleteEvsesRequest"/>
  </message>
  <message name="DeleteEvsesResponse">
    <part name="DeleteEvsesResponse" element="tns:DeleteEvsesResponse"/>
  </message>
  <message name="PushChargeRecord">
    <part name="PushChargeRecordRequest" element="tns:PushChargeRecordRequest"/>
  </message>
  <message name="PushChargeRecordResponse">
    <part name="PushChargeRecordResponse" element="tns:PushChargeRecordResponse"/>
  </message>
  <message name="NotifyPauseSession">
    <part name="NotifyPauseSessionRequest" element="tns:NotifyPauseSessionRequest"/>
  </message>
  <message name="NotifyPauseSessionResponse">
    <part name="NotifyPauseSessionResponse" element="tns:NotifyPauseSessionResponse"/>
  </message>
  <message name="NotifyResumeSession">
    <part name="NotifyResumeSessionRequest" element="tns:NotifyResumeSessionRequest"/>
  </message>
  <message name="NotifyResumeSessionResponse">
    <part name="NotifyResumeSessionResponse" element="tns:NotifyResumeSessionResponse"/>
  </message>
  <message name="NotifyStopSession">
    <part name="NotifyStopSessionRequest" element="tns:NotifyStopSessionRequest"/>
  </message>
  <message name="NotifyStopSessionResponse">
    <part name="NotifyStopSessionResponse" element="tns:NotifyStopSessionResponse"/>
  </message>
  <portType name="ChargePointOperatorService">
    <operation name="PushChargingProfile">
      <input wsam:Action="PushChargingProfileRequest" message="tns:PushChargingProfile"/>
      <output wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/PushChargingProfileResponse" message="tns:PushChargingProfileResponse"/>
      <fault message="tns:ChargePointOperatorServiceFault" name="ChargePointOperatorServiceFault" wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/PushChargingProfile/Fault/ChargePointOperatorServiceFault"/>
    </operation>
    <operation name="ChargeParameterDiscovery">
      <input wsam:Action="ChargeParameterDiscoveryRequest" message="tns:ChargeParameterDiscovery"/>
      <output wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/ChargeParameterDiscoveryResponse" message="tns:ChargeParameterDiscoveryResponse"/>
      <fault message="tns:ChargePointOperatorServiceFault" name="ChargePointOperatorServiceFault" wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/ChargeParameterDiscovery/Fault/ChargePointOperatorServiceFault"/>
    </operation>
    <operation name="RegisterEvses">
      <input wsam:Action="RegisterEvsesRequest" message="tns:RegisterEvses"/>
      <output wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/RegisterEvsesResponse" message="tns:RegisterEvsesResponse"/>
      <fault message="tns:ChargePointOperatorServiceFault" name="ChargePointOperatorServiceFault" wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/RegisterEvses/Fault/ChargePointOperatorServiceFault"/>
    </operation>
    <operation name="UpdateEvses">
      <input wsam:Action="UpdateEvsesRequest" message="tns:UpdateEvses"/>
      <output wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/UpdateEvsesResponse" message="tns:UpdateEvsesResponse"/>
      <fault message="tns:ChargePointOperatorServiceFault" name="ChargePointOperatorServiceFault" wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/UpdateEvses/Fault/ChargePointOperatorServiceFault"/>
    </operation>
    <operation name="DeleteEvses">
      <input wsam:Action="DeleteEvsesRequest" message="tns:DeleteEvses"/>
      <output wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/DeleteEvsesResponse" message="tns:DeleteEvsesResponse"/>
      <fault message="tns:ChargePointOperatorServiceFault" name="ChargePointOperatorServiceFault" wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/DeleteEvses/Fault/ChargePointOperatorServiceFault"/>
    </operation>
    <operation name="PushChargeRecord">
      <input wsam:Action="PushChargeRecordRequest" message="tns:PushChargeRecord"/>
      <output wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/PushChargeRecordResponse" message="tns:PushChargeRecordResponse"/>
      <fault message="tns:ChargePointOperatorServiceFault" name="ChargePointOperatorServiceFault" wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/PushChargeRecord/Fault/ChargePointOperatorServiceFault"/>
    </operation>
    <operation name="NotifyPauseSession">
      <input wsam:Action="NotifyPauseSessionRequest" message="tns:NotifyPauseSession"/>
      <output wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/NotifyPauseSessionResponse" message="tns:NotifyPauseSessionResponse"/>
      <fault message="tns:ChargePointOperatorServiceFault" name="ChargePointOperatorServiceFault" wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/NotifyPauseSession/Fault/ChargePointOperatorServiceFault"/>
    </operation>
    <operation name="NotifyResumeSession">
      <input wsam:Action="NotifyResumeSessionRequest" message="tns:NotifyResumeSession"/>
      <output wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/NotifyResumeSessionResponse" message="tns:NotifyResumeSessionResponse"/>
      <fault message="tns:ChargePointOperatorServiceFault" name="ChargePointOperatorServiceFault" wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/NotifyResumeSession/Fault/ChargePointOperatorServiceFault"/>
    </operation>
    <operation name="NotifyStopSession">
      <input wsam:Action="NotifyStopSessionRequest" message="tns:NotifyStopSession"/>
      <output wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/NotifyStopSessionResponse" message="tns:NotifyStopSessionResponse"/>
      <fault message="tns:ChargePointOperatorServiceFault" name="ChargePointOperatorServiceFault" wsam:Action="http://webservices.dch.rwe.com/ChargePointOperatorService/v1.0/ChargePointOperatorService/NotifyStopSession/Fault/ChargePointOperatorServiceFault"/>
    </operation>
  </portType>
  <binding name="ChargePointOperatorServiceBinding" type="tns:ChargePointOperatorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="PushChargingProfile">
      <soap:operation soapAction="PushChargingProfileRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ChargePointOperatorServiceFault">
        <soap:fault name="ChargePointOperatorServiceFault" use="literal"/>
      </fault>
    </operation>
    <operation name="ChargeParameterDiscovery">
      <soap:operation soapAction="ChargeParameterDiscoveryRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ChargePointOperatorServiceFault">
        <soap:fault name="ChargePointOperatorServiceFault" use="literal"/>
      </fault>
    </operation>
    <operation name="RegisterEvses">
      <soap:operation soapAction="RegisterEvsesRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ChargePointOperatorServiceFault">
        <soap:fault name="ChargePointOperatorServiceFault" use="literal"/>
      </fault>
    </operation>
    <operation name="UpdateEvses">
      <soap:operation soapAction="UpdateEvsesRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ChargePointOperatorServiceFault">
        <soap:fault name="ChargePointOperatorServiceFault" use="literal"/>
      </fault>
    </operation>
    <operation name="DeleteEvses">
      <soap:operation soapAction="DeleteEvsesRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ChargePointOperatorServiceFault">
        <soap:fault name="ChargePointOperatorServiceFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PushChargeRecord">
      <soap:operation soapAction="PushChargeRecordRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ChargePointOperatorServiceFault">
        <soap:fault name="ChargePointOperatorServiceFault" use="literal"/>
      </fault>
    </operation>
    <operation name="NotifyPauseSession">
      <soap:operation soapAction="NotifyPauseSessionRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ChargePointOperatorServiceFault">
        <soap:fault name="ChargePointOperatorServiceFault" use="literal"/>
      </fault>
    </operation>
    <operation name="NotifyResumeSession">
      <soap:operation soapAction="NotifyResumeSessionRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ChargePointOperatorServiceFault">
        <soap:fault name="ChargePointOperatorServiceFault" use="literal"/>
      </fault>
    </operation>
    <operation name="NotifyStopSession">
      <soap:operation soapAction="NotifyStopSessionRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ChargePointOperatorServiceFault">
        <soap:fault name="ChargePointOperatorServiceFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ChargePointOperatorService">
    <port name="ChargePointOperatorService" binding="tns:ChargePointOperatorServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

