wsdl/EvseSessionManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://webservices.dch.rwe.com/EvseSessionManagementService/v1.0" name="EvseSessionManagementService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webservices.dch.rwe.com/EvseSessionManagementService/v1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://webservices.dch.rwe.com/EvseSessionManagementService/v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="EvseSessionManagementServiceFault" type="tns:EvseSessionManagementServiceFault"/>

      <xs:element name="InitiateRenegotiation" nillable="true" type="tns:renegotiationRequest"/>

      <xs:element name="RenegotiationRequest" type="tns:renegotiationRequest"/>

      <xs:element name="RenegotiationResponse" type="tns:renegotiationResponse"/>

      <xs:complexType name="renegotiationRequest">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
          <xs:element name="SessionID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="renegotiationResponse">
        <xs:sequence>
          <xs:element name="RequestID" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="EvseSessionManagementServiceFault">
        <xs:sequence>
          <xs:element name="code" type="xs:string" minOccurs="0"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="messageDetail" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="InitiateRenegotiation">
    <part name="InitiateRenegotiation" element="tns:InitiateRenegotiation"/>
  </message>
  <message name="InitiateRenegotiationResponse">
    <part name="RenegotiationResponse" element="tns:RenegotiationResponse"/>
  </message>
  <message name="EvseSessionManagementServiceFault">
    <part name="fault" element="tns:EvseSessionManagementServiceFault"/>
  </message>
  <portType name="EvseSessionManagementServiceMock">
    <operation name="InitiateRenegotiation">
      <input wsam:Action="RenegotiationRequest" message="tns:InitiateRenegotiation"/>
      <output wsam:Action="http://webservices.dch.rwe.com/EvseSessionManagementService/v1.0/EvseSessionManagementServiceMock/InitiateRenegotiationResponse" message="tns:InitiateRenegotiationResponse"/>
      <fault message="tns:EvseSessionManagementServiceFault" name="EvseSessionManagementServiceFault" wsam:Action="http://webservices.dch.rwe.com/EvseSessionManagementService/v1.0/EvseSessionManagementServiceMock/InitiateRenegotiation/Fault/EvseSessionManagementServiceFault"/>
    </operation>
  </portType>
  <binding name="EvseSessionManagementServiceBinding" type="tns:EvseSessionManagementServiceMock">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="InitiateRenegotiation">
      <soap:operation soapAction="RenegotiationRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EvseSessionManagementServiceFault">
        <soap:fault name="EvseSessionManagementServiceFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EvseSessionManagementService">
    <port name="EvseSessionManagementService" binding="tns:EvseSessionManagementServiceBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

